---
import { css } from '@styled-system/css'
import focusRing from '@recipes/focusRing'

interface Props {
  question: string
  answer: string
}

const { question, answer } = Astro.props
---

<details
  class={css({
    _light: {
      borderBottom: '1px solid {colors.neutral.275}',
      '&:first-of-type': {
        borderTop: '1px solid {colors.neutral.275}',
      },
    },
    _dark: {
      borderBottom: '1px solid {colors.neutral.525}',
      '&:first-of-type': {
        borderTop: '1px solid {colors.neutral.525}',
      },
    },
  })}
>
  <summary
    class:list={[
      css({
        paddingBlock: 1,
        paddingInline: 2,
        _light: {
          _hover: {
            backgroundColor: 'neutral.75',
          },
        },
        _dark: {
          _hover: {
            backgroundColor: 'neutral.875',
          },
        },
      }),
      focusRing(),
    ]}>{question}</summary
  >
  <div
    class={css({
      paddingBlockStart: 1,
      paddingBlockEnd: 2,
      paddingInline: 2,
    })}
  >
    {answer}
  </div>
</details>
