---
import { css } from '@styled-system/css'
import { getCollection, type CollectionEntry } from 'astro:content'
import { Image } from 'astro:assets'

import { entryIsPublished } from '@utils/index'
import { photoPath, photosPath } from 'astro-path-helpers/generated'

import AppLayout from '@layouts/AppLayout.astro'
import IconButton from '@components/IconButton.astro'
import SEOTags from '@components/SEOTags.astro'

interface Props {
  photo: CollectionEntry<'photos'>
}

const { photo } = Astro.props
const aspectRatio = photo.data.image.width / photo.data.image.height
const isPortrait = aspectRatio <= 1

const photos = await getCollection('photos', entryIsPublished)
const photoSlugs = photos.map((photo) => photo.id)
const previousPhotoSlug =
  photoSlugs[
    (photoSlugs.indexOf(photo.id) - 1 + photoSlugs.length) % photoSlugs.length
  ]
const nextPhotoSlug =
  photoSlugs[(photoSlugs.indexOf(photo.id) + 1) % photoSlugs.length]

export async function getStaticPaths() {
  const photos = await getCollection('photos', entryIsPublished)

  return photos.map((photo) => ({
    params: { id: photo.id },
    props: { photo },
  }))
}
---

<script>
  import { navigate } from 'astro:transitions/client'

  const allPhotosElement = document.querySelector('[data-photos-path]')

  if (allPhotosElement instanceof HTMLElement) {
    const allPhotosPath = allPhotosElement.dataset.photosPath || null

    document.addEventListener('keydown', (event) => {
      if (event.key === 'Escape' && allPhotosPath) {
        navigate(allPhotosPath)
      }
    })
  }
</script>

<AppLayout>
  <SEOTags
    slot="head"
    title={`${photo.data.title} — Photo by Cassidy Smith`}
    titleTemplate={null}
    description={`A detailed view of a photo from my photography collection, this one titled ${photo.data.title}`}
  />

  <div
    data-photos-path={photosPath()}
    class={css({
      display: 'grid',
      padding: '0.5',
      height: '100dvh',
      width: '100dvw',
      gridTemplateAreas: `
        '. . close'
        'prev photo next'
        '. . .'
      `,
      gridTemplateColumns: `
        {spacing.10}
        minmax(0, 1fr)
        {spacing.10}
      `,
      gridTemplateRows: `
        {spacing.10}
        minmax(0, 1fr)
        {spacing.10}
      `,

      background: 'stark.background',
    })}
  >
    <div
      style={`--aspect-ratio: ${aspectRatio};`}
      class={css({
        gridArea: 'photo',
        alignSelf: 'center',
        justifySelf: 'center',
        aspectRatio: 'var(--aspect-ratio)',
        display: 'flex',
        placeItems: 'center',
        placeContent: 'center',
        maxWidth: '100%',
        maxHeight: '100%',

        // portrait screen
        width: isPortrait ? 'auto' : '100%',
        height: isPortrait ? '100%' : 'auto',

        // landscape screen
        '@media (min-aspect-ratio: 1)': {
          width: 'auto',
          height: '100%',
        },
      })}
    >
      <Image
        priority
        quality="medium"
        src={photo.data.image}
        alt={photo.data.imageAlt}
        transition:name={`photo-${photo.id}`}
        class={css({
          display: 'block',
          position: 'relative',
          zIndex: '2', // This puts it above the grain effect

          _light: {
            backgroundColor: 'neutral.50',
          },
          _dark: {
            backgroundColor: 'neutral.875',
          },
        })}
      />
    </div>

    <IconButton
      class={css({ gridArea: 'close', placeSelf: 'center' })}
      as="a"
      material="ghost"
      size="lg"
      href={photosPath()}
      icon="ri:close-line"
      ariaLabel="Back to all photos"
    />
    <IconButton
      class={css({ gridArea: 'prev', placeSelf: 'center' })}
      as="a"
      material="ghost"
      size="lg"
      href={photoPath(previousPhotoSlug)}
      data-direction="previous-photo"
      icon="ri:arrow-left-line"
      ariaLabel="Previous photo"
    />
    <IconButton
      class={css({ gridArea: 'next', placeSelf: 'center' })}
      as="a"
      material="ghost"
      size="lg"
      href={photoPath(nextPhotoSlug)}
      data-direction="next-photo"
      icon="ri:arrow-right-line"
      ariaLabel="Next photo"
    />
  </div>
</AppLayout>
