---
import { css } from '@styled-system/css'
import textLink from '@recipes/textLink'
import focusRing from '@recipes/focusRing'
import CopyButton from '@components/CopyButton.astro'

const { emailAddress = 'hello@cassidysmith.dev' } = Astro.props
---

<section
  class={css({
    gridArea: 'contact',
    borderRadius: 'bento',
    padding: 'bento.padding',
    display: 'grid',
    gridTemplateColumns: '1fr',
    gridTemplateRows: 'auto 1fr',

    _light: {
      color: 'neutral.775',
      backgroundColor: 'neutral.50',
    },
    _dark: {
      color: 'neutral.400',
      backgroundColor: 'neutral.850',
    },
  })}
>
  <h2
    class={css({
      textStyle: '2xl',
      fontWeight: '710',
      marginBlockStart: 'lineHeightCrop.syne',
      lineHeight: 'tight',
    })}
  >
    Get in Contact
  </h2>

  <div
    class={css({
      display: 'flex',
      flexWrap: 'wrap',
      gap: '2',
      alignSelf: 'end',
    })}
  >
    <div
      class={css({
        display: 'flex',
        flexWrap: 'wrap',
        flexBasis: 'full',
        columnGap: '2',
        rowGap: '1',
        justifyContent: 'space-between',
        width: 'full',
        alignItems: 'center',
        marginInlineEnd: 'auto',
        gridColumn: '1 / -1',
        paddingBlock: '0.5',
        paddingInline: '0.5',

        borderRadius: 'calc({radii.bento} - {spacing.bento.padding} / 2)',
        _light: {
          backgroundColor: 'neutral.25',
          color: 'neutral.900',
          boxShadow: '0 0 0 {borderWidths.thin} {colors.neutral.150}',
        },
        _dark: {
          backgroundColor: 'neutral.875',
          color: 'neutral.400',
          boxShadow: '0 0 0 {borderWidths.thin} {colors.neutral.925}',
        },
      })}
    >
      <a
        href={`mailto:${emailAddress}`}
        class:list={[
          css({
            flexGrow: 1,
            marginInlineStart: '2',

            lineHeight: 'tight',
            fontSize: 'sm',
          }),
          textLink({ color: false }),
          focusRing(),
        ]}>{emailAddress}</a
      >
      <CopyButton
        textToCopy={emailAddress}
        size="sm"
        class={css({
          borderRadius:
            'calc({radii.bento} - {spacing.bento.padding} / 2 - {spacing.0.5})',
        })}
      />
    </div>
  </div>
</section>
