---
import ContentLink from './ContentLink.astro';
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';

interface Props {
  photo: CollectionEntry<'photos'>;
}

const { photo } = Astro.props;
---

<li class="link-container">
  <ContentLink
    content={photo}
    class="photo-link"
    style={`aspect-ratio: ${photo.data.image.src.width / photo.data.image.src.height};`} aria-label="Open image">
    <Image
      transition:name={`photo-${photo.id}`}
      src={photo.data.image.src}
      alt={photo.data.image.description}
      quality={60}
      height="450"
      densities={[1.5, 2]}
      loading="lazy" />
      <span class="screen-reader-only">Open image: {photo.data.title}</span>
  </ContentLink>
</li>

<style lang="scss">
  @import '../styles/mixins.scss';

  .link-container {
    display: flex;
    justify-content: center;
    align-items: center;

    grid-row: 1;
    
    @include breakpoint-small {
      grid-row: auto;
      aspect-ratio: 1 / 1;
    }
  }

  .photo-link {
    cursor: zoom-in;
    display: block;
    border-radius: var(--radius-tiny);
    background-color: var(--color-base-background);
    height: 100vw;
    
    @include breakpoint-small {
      height: auto;
      max-height: 100%;
      max-height: 100%;
    }

    position: relative;
    overflow: hidden;

    @media (hover: hover) {
      &:hover {
        img {
          transform: scale(1.05);
          filter: brightness(1.05);
        }

      }
    }
    &:focus-visible {
      img {
        transform: scale(1.05);
        filter: brightness(1.05);
      }
    }
    &:focus-visible {
      @include focus-outline(var(--color-stark-foreground));
    }
  }

  img {
    display: block;
    width: 100%;
    height: auto;
    transition: all 0.2s ease-in-out;
  }


</style>

