---
import { css } from '@styled-system/css'
import focusRing from '@recipes/focusRing'
import type { CollectionEntry } from 'astro:content'
import { photoPath } from 'astro-path-helpers/generated'
import { Image } from 'astro:assets'

interface Props {
  photo: CollectionEntry<'photos'>
  priority: boolean
}

const { photo, priority = false } = Astro.props

const aspectRatio = photo.data.image.width / photo.data.image.height
const isPortrait = aspectRatio <= 1
---

<li
  class={css({
    display: 'grid',
    justifyContent: 'stretch',
    alignContent: 'end',
    alignItems: 'center',
    gap: 2,
    gridRow: 'auto',
    aspectRatio: '1 / 1',
  })}
>
  <a
    href={photoPath(photo.id)}
    style={`--aspect-ratio: ${aspectRatio};`}
    aria-label="Open image"
    class:list={[
      focusRing(),
      css({
        cursor: 'zoom-in',
        display: 'block',
        aspectRatio: 'var(--aspect-ratio)',
        position: 'relative',
        overflow: 'hidden',
        width: isPortrait ? 'auto' : '100%',
        height: isPortrait ? '100%' : 'auto',
        maxWidth: '100%',
        maxHeight: '100%',
        _focusVisible: {
          '& img': {
            transform: 'scale(1.05)',
            filter: 'brightness(1.05)',
          },
        },
        _light: {
          backgroundColor: 'neutral.50',
        },
        _dark: {
          backgroundColor: 'neutral.875',
        },
      }),
    ]}
  >
    <Image
      src={photo.data.image}
      alt={photo.data.imageAlt}
      quality={50}
      priority={priority}
      sizes={`
        (max-width: 640px) ${isPortrait ? '310px' : '732px'},
        (max-width: 678px) ${isPortrait ? '207px' : '300px'},
        (max-width: 1164px) ${isPortrait ? '227px' : '333px'},
        ${isPortrait ? '180px' : '270px'}
      `}
      class={css({
        position: 'relative',
        width: '100%',
        transition: 'all 0.3s',
        transitionTimingFunction: 'cubic-bezier(0.23, 1, 0.32, 1)',

        _supportsHover: {
          _hover: {
            transform: 'scale(1.05)',
            filter: 'brightness(1.05)',
          },
        },
      })}
    />
    <span class={css({ srOnly: true })}>Open image: {photo.data.title}</span>
  </a>
  <p
    class={css({
      textStyle: 'xs',
      lineHeight: 'tight',
      opacity: '0.9',
    })}
  >
    {photo.data.title}
  </p>
</li>
