---
import { css } from '@styled-system/css'
import focusRing from '@recipes/focusRing'
import { Image } from 'astro:assets'
import type { CollectionEntry } from 'astro:content'
import { photoPath } from 'astro-path-helpers/generated'

interface Props {
  photo: CollectionEntry<'photos'>
}

const { photo } = Astro.props
---

<li
  class={css({
    display: 'flex',
    justifyContent: 'center',
    alignItems: 'center',
    gridRow: 1,

    sm: {
      gridRow: 'auto',
      aspectRatio: '1 / 1',
    },
  })}
>
  <a
    href={photoPath(photo.id)}
    style={`aspect-ratio: ${photo.data.image.src.width / photo.data.image.src.height};`}
    aria-label="Open image"
    class:list={[
      focusRing(),
      css({
        cursor: 'zoom-in',
        display: 'block',

        height: '100vw',
        position: 'relative',
        overflow: 'hidden',
        borderRadius: 'xs',
        sm: {
          height: 'auto',
          maxHeight: '100%',
          maxWidth: '100%',
        },
        _focusVisible: {
          '& img': {
            transform: 'scale(1.05)',
            filter: 'brightness(1.05)',
          },
        },
      }),
    ]}
  >
    <Image
      src={photo.data.image.src}
      alt={photo.data.image.description}
      quality={60}
      height="450"
      densities={[1.5, 2]}
      loading="lazy"
      transition:name={`photo-${photo.id}`}
      class={css({
        display: 'block',
        width: '100%',
        height: 'auto',
        transition: 'all 0.2s ease-in-out',
        _supportsHover: {
          _hover: {
            transform: 'scale(1.05)',
            filter: 'brightness(1.05)',
          },
        },
      })}
    />
    <span class="screen-reader-only">Open image: {photo.data.title}</span>
  </a>
</li>
