---
import { css } from '@styled-system/css'
import { Image } from 'astro:assets'
import PricklyPearController from '@components/PricklyPearController.svelte'
import placeholderCactus from '../assets/prickly-pear.png'
---

<div
  class={css({
    gridArea: 'cactus',
    alignContent: 'start',
    overflow: 'hidden',
    borderRadius: 'bento',
    backgroundColor: 'var(--color-ground)',

    _light: {
      '--color-sky': '{colors.neutral.150}',
      '--color-ground': '{colors.neutral.650}',
    },
    _dark: {
      '--color-sky': '{colors.neutral.850}',
      '--color-ground': '{colors.neutral.875}',
      '& img, & canvas': {
        filter: 'brightness(0.5)',
      },
    },
  })}
>
  <div
    class={css({
      position: 'relative',
      display: 'flex',
      alignItems: 'flex-end',
      containerType: 'size',

      backgroundColor: 'var(--color-sky)',
      height: '100%',
      aspectRatio: '0.85',

      sm: {
        aspectRatio: 'auto',
      },

      _before: {
        content: "''",
        position: 'absolute',
        bottom: '0',
        left: '0',
        right: '0',
        height: 'calc(100cqh - 100cqw + {spacing.12})',
        backgroundColor: 'var(--color-ground)',
      },

      _after: {
        content: "''",
        position: 'absolute',
        left: 0,
        right: 0,
        bottom: 'calc(100cqh - 100cqw - {spacing.3})',
        height: '8',
        backgroundColor: 'var(--color-ground)',
        '--mask':
          'conic-gradient(from 135deg at top, #0000, #000 1deg 89deg, #0000 90deg) 50% / 0.5rem 100%',
        mask: 'var(--mask)',
      },
    })}
  >
    <PricklyPearController client:idle>
      <Image
        src={placeholderCactus}
        alt="Illustration of prickly pear cactus"
        class={css({
          position: 'absolute',
          left: '0',
          top: '0',
          width: '100%',
          height: 'auto',
        })}
        quality={80}
        width="800"
        height="800"
        slot="placeholderCactus"
        loading="eager"
      />
    </PricklyPearController>
  </div>
</div>
