---
import PostMetaItem from './PostMetaItem.astro';
import { friendlyUTCDate, isSameDay } from '@utils/index';
const { post, readingTime } = Astro.props;

const isModified = !isSameDay(post.data.modifiedAt, post.data.publishedAt);

---

<div class="blog-post-meta">
  {readingTime && <PostMetaItem iconName="ri:hourglass-2-fill">{readingTime}</PostMetaItem>}

  <PostMetaItem iconName="ri:pen-nib-fill">
    Published <time datetime={post.data.publishedAt.toISOString()}>{friendlyUTCDate(post.data.publishedAt)}</time>
  </PostMetaItem>
  
  {isModified && <PostMetaItem iconName="ri:scissors-2-fill">
    Modified <time datetime={post.data.modifiedAt.toISOString()}>{friendlyUTCDate(post.data.modifiedAt)}</time>
  </PostMetaItem>}
</div>

<style lang="scss">
  @import '@styles/mixins.scss';

  @include color-mode(light) {
    .blog-post-meta {
      --color: var(--color-primary-700);
    }
  }
  @include color-mode(dark) {
    .blog-post-meta {
      --color: var(--color-primary-425);
    }
  }

  .blog-post-meta {
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--space-2);
    column-gap: var(--space-3);
    margin-bottom: var(--space-6);
    color: var(--color)
  }

</style>